<template id="<%= elementName %>">
  <div class="<%= elementName %>_container">
    <h3><%= elementName %></h3>
    <div>
      <<%= webpackageName %>-connectionhook-elementary-a
        member-id-ref="input"
      ></<%= webpackageName %>-connectionhook-elementary-a>
    </div>
    <div>
      <<%= webpackageName %>-connectionhook-elementary-b
        member-id-ref="output1"
      ></<%= webpackageName %>-connectionhook-elementary-b>
    </div>
    <div>
      <<%= webpackageName %>-connectionhook-elementary-b
        member-id-ref="output2"
      ></<%= webpackageName %>-connectionhook-elementary-b>
    </div>
  </div>
</template>
