<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title><%= webpackageName %>-cif-copy-value-test-obj-a</title>
    <script>
        window.cubx = {
            "CRCInit": {
                "rootDependencies": [
                    {
 						artifactId: '<%= webpackageName %>-cif-copy-value-test-obj-a'
					}
                ]
            }
        }
    </script>
    

    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="../style/main-style.css">

    <!-- include crc-loader webresource from base
        1) Want to add a main script?
        Add the following attribute: data-crc-main="js/main.js"
    -->

    <script src="../../../cubx.core.rte@4.0.0-SNAPSHOT/rte-core/main.bundle.js"></script>


</head>
<body>
<h2>Testpage for the Cubixx-Component <code><%= webpackageName %>-cif-copy-value-test-obj-a</code></h2>

<hr>
<!-- The cubixx client-runtime-container is bound to the next div -->
<div cubx-core-crc>
    <!-- Change this to your element name ... -->
    <<%= webpackageName %>-cif-copy-value-test-obj-a></<%= webpackageName %>-cif-copy-value-test-obj-a>
</div>


</body>
</html>
