<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title><%= webpackageName %>-cif-test-b</title>
    <script>
        window.cubx = {
            CRCInit: {
                rootDependencies: [
                    {
 						artifactId: '<%= webpackageName %>-cif-test-b'
					}
                ]
            }
        }
    </script>
    

    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="../style/main-style.css">

     <script src="../../../cubx-rte@4.0.0-SNAPSHOT/cubx-rte-core/main.bundle.js"></script>

</head>
<body>
<h2>Demopage for the Cubixx-Component <code><%= webpackageName %>-cif-test-b</code></h2>

<hr>
<div>
    <<%= webpackageName %>-cif-test-b></<%= webpackageName %>-cif-test-b>
</div>

</body>
</html>
