<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title><%= webpackageName %>-cif-test-a</title>
    <script>
        window.cubx = {
            CRCInit: {
                rootDependencies: [
                    {
 						artifactId: '<%= webpackageName %>-cif-test-a'
				    }
                ]
            }
        }
    </script>
    

    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="../style/main-style.css">

    <script src="../../../cubx.core.rte@4.0.0-SNAPSHOT/rte-core/main.bundle.js"></script>

</head>
<body>
<h2>Demopage for the Cubixx-Component <code><%= webpackageName %>-cif-test-a</code></h2>

<hr>
<div>
    <<%= webpackageName %>-cif-test-a></<%= webpackageName %>-cif-test-a>
</div>

</body>
</html>
