<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>&lt;<%= elementName %></a> demo</title>

    <script src="../../cubx-rte@4.0.0-SNAPSHOT/cubx-rte-core/main.bundle.js"></script>

</head>
<body>
<!--  Place cubbles components there. -->
<<%= elementName %> cubx-webpackage-id="this">
    <cubx-core-init style="display: none">
        <cubx-core-slot-init slot="text">"<b>Spass &amp; Ernst </b> Beispiel"</cubx-core-slot-init>
    </cubx-core-init>
</<%= elementName %>>
<hr>

<<%= elementName %> cubx-webpackage-id="this">
    <cubx-core-init style="display: none">
        <cubx-core-slot-init slot="text">"<b>\\&quot;Spass\\&quot; &amp; 'Ernst' </b> Beispiel"</cubx-core-slot-init>
    </cubx-core-init>
</<%= elementName %>>

<<%= elementName %> cubx-webpackage-id="this">
    <cubx-core-init style="display: none">
        <cubx-core-slot-init slot="text">{ "foo": "<b>\\&quot;Spass\\&quot; &amp; Ernst </b> Beispiel"}</cubx-core-slot-init>
    </cubx-core-init>
</<%= elementName %>>
<<%= elementName %> cubx-webpackage-id="this">
    <cubx-core-init style="display: none">
        <cubx-core-slot-init slot="text">"<a href=\"http://cubbles.github.io\" target=\"_blank\">cubbles.github.io</a>"</cubx-core-slot-init>
    </cubx-core-init>
</<%= elementName %>>
</body>
</html>
