<template id="<%= elementName %>">
    <h4><%= elementName %></h4>
    <div class="row">
        <div class="col-sm-4 nopadding-right"><<%= webpackageName %>-compound-template-elementary-1 member-id-ref="source"></<%= webpackageName %>-compound-template-elementary-1></div>
        <div class="col-sm-4 nopadding-right nopadding-left" ><canvas class="canvas" width="0" height="0"></canvas></div>
        <div class="col-sm-4 nopadding-left"><<%= webpackageName %>-compound-template-elementary-2 member-id-ref="target"></<%= webpackageName %>-compound-template-elementary-2></div>
    </div>
</template>
