rte-test-cif-test-compound-3 
    display: block
    clear: both
    position:relative
    border: double thin #b9a78a
    background-color: seashell
    width : 33.5em

rte-test-cif-test-compound-3 rte-test-cif-test-a 
    float: left
    display:inline-block
    margin : 0.5em

rte-test-cif-test-compound-3 cif-test-b 
    display:inline-block
    margin : 0.5em

