<template id="<%= elementName %>">
    <h4><%= elementName %></h4>
    <div class="row">
        <div class="col-sm-5 nopadding-right"><<%= webpackageName %>-compound-with-template member-id-ref="first"></<%= webpackageName %>-compound-with-template></div>
        <div class="col-sm-2 nopadding-right nopadding-left" ><canvas class="canvas" width="0" height="0"></canvas></div>
        <div class="col-sm-5 nopadding-left"><<%= webpackageName %>-compound-with-template member-id-ref="second"></<%= webpackageName %>-compound-with-template></div>
    </div>
</template>
