.container 
    --base-form-padding: 0.3em
    display: block
    padding: var(--base-form-padding)
    width: 15em
    border: solid thin #0f3253

label 
    margin-right: 0.3em
    font-weight: bold
    color: #2f6fad

input[type=text] 
    width: 12em
